# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
not part of the mod/forge stuff
native
daemon
wrapper

# Files from Forge MDK
forge*changelog.txt
